%div{:class => 'span-16 prepend-4 last'}
  %h2 Start a new story

  #new_story
    %fieldset
      = error_messages_for :story
  
      - form_for :story, :url => {:action => :create} do |f|
        %p
          = f.label 'title'
          %br
          = f.text_field :title, :class => 'title'
    
        %p
          = f.label 'description'
          %br
          = f.text_area :description, :cols => 40, :rows => 3, :class => 'text'
    
        %p
          = f.label 'fic_length', 'Maximum length in words of each story section'
          = f.text_field :fic_length, :class => 'text'
    
        %p
          = f.label 'fic_length_enforce', 'Prevent collaborators from going over this limit?'
          = f.check_box :fic_length_enforce
    
        = submit_tag 'Start story', :class => 'submit'
