%h2= @story.title

%h3= @story.description

%ul
  - for fic in @story.fics
    %li
      %p= fic.created_at.strftime("%A, %B %d at %H:%M")
      %div= fic.content
      
  = link_to "Add fic", new_story_fic_url(@story)