#story_content.span-18

  %h2.story_title= @story.title
  %span.story_owner= "Started by #{@story.owner.login}" if @story.owner
  %p.story_description= @story.description
  
  %h3 And so the story begins...

  = render :partial => 'fics/fic_list'
      
  = link_to("Add fic", new_story_fic_url(@story)) if logged_in?

#sidebar{:class => "span-6 last"}
  %h4 Collaborators
  
  %ul
  - for collab in @story.users
    %li= link_to collab.login, user_page_path(collab.login)
  