#story_content.span-18

  %h2.story_title= @story.title
  %span.story_owner= "Started by #{@story.owner.login}" if @story.owner
  %p.story_description= @story.description
  
  %h3= "The next collaborator on this story is #{@next_collab.login}"
  
  %h3 And so the story begins...

  = render :partial => 'fics/fic_list'
  
  %div{:class => 'span-16 last'}
    - if (@story.users.include? current_user) and (@next_collab == current_user) 
      - form_for [@story, @fic], :url => {:action => :create_fic, :controller => 'stories'} do |f|
        %fieldset
          %p
            = f.label "What happens next is up to you..." 
            %br
            - if @story.fic_length
              = f.text_area :content, :cols => 40, :rows => 3, :class => "count[#{@story.fic_length}] text"
            - else
              = f.text_area :content, :cols => 40, :rows => 3, :class => "text" 
    
          = submit_tag 'Add Fic', :class => 'submit'

#sidebar{:class => "span-6 last"}
  %a{:href => stories_rss_path(@story)}
    %img{ :src => "/images/feed_icon.png", :alt => "Subscribe", :title => "Subscribe to this story"}

  %h4 Collaborators
  
  %ul
    - for collab in @story.users
      - if collab == @next_collab
        %li.next_collab
          =link_to collab.login, user_page_path(collab.login)
      - else
        %li
          =link_to collab.login, user_page_path(collab.login)
  
  - if @story.owner? current_user
    - @invitations = Invitation.invitations_for_story(@story)
    - if !@invitations.nil?
      %h4 Pending invitations
      %ul
        - for invite in @invitations
          %li= invite.user.login
    
    %h4 Invite collaborators
    - form_tag '/invite/add' do
      = label_tag 'Username'
      = text_field_tag 'login'
      = hidden_field_tag 'story', @story.id
      = submit_tag 'Invite'