#header
  
  #title{:class => 'span-15'}
    %a{ :href => '/' }
      %h1{:id => 'logo'} Collaborific
    %img{ :src => '/images/collab_logo.png', :alt => 'logo', :id => 'logo_img'}
    
  
  #utility_menu{:class => 'span-9 last'}
    %ul
      -if !(logged_in?)
        %li= link_to 'Sign up', signup_path
        %li= link_to 'Log in', login_path
      -else
        %li= link_to 'Home', '/'
        %li= link_to 'Start a new story', new_story_path
        %li= link_to 'Profile', user_page_path(current_user.login)
        %li= link_to 'Log out', logout_path